/* General selector  */
* {
    font-family: 'Quicksand', sans-serif;
}


/* card zone  */

.card {
    filter: drop-shadow(3px 7px 7px black);
}


/* Video zone  */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.454);
}

.my_container {
    height: 100vh;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;

}

/* CAROUSEL */


/* btn carousel  */

i {

    filter: drop-shadow(2px 0px 5px black);
}

.btn_carousel {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.888);
    font-weight: bold;
    position: absolute;
    top: 40%;
    z-index: 1;
    margin: 0 30px;

}

.btn_left:hover {
    animation: move_left 0.5s linear infinite;
}

.btn_right:hover {
    animation: move_right 0.5s linear infinite;
}

/* card carousel  */

.main_card:hover {
    animation: scaleEffect 0.5s linear;
}

*.card:not(.active) {
    display: none;
}

/* ANIMATION */

@keyframes move_left {
    0% {
        transform: translatex(0);
    }

    50% {
        transform: translatex(-6px);
    }

    100% {
        transform: translatex(0);
    }
}

@keyframes move_right {
    0% {
        transform: translatex(0);
    }

    50% {
        transform: translatex(6px);
    }

    100% {
        transform: translatex(0);
    }
}

@keyframes scaleEffect {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}